.vscode/
tests/
stuff/
code_stuff/
tmp_trainer/
trainer_output/
llms/
docs/stage*.md
.cache/
wandb/
datasets/*
logs/
data/alfworld
data/pddl/env/pddlgym
docs/
analysis/
__pycache__/
test/
=10.1
MemGen-Models/
MemGen/
env/
record.md
.gitignore
results/